{{>/layout/post-header}}

<div class="container">

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-sm btn-success" style="width: 150px">구독하기</button>
                        <button class="btn btn-sm" style="width: 150px; background-color: #888888; display: none">구독완료
                        </button>
                        <a href="/post/write-form" class="my_atag_none">
                            <div class="my_icon_rounded_btn d-flex justify-content-center align-items-center"><i
                                    class="fa-solid fa-pencil"></i></div>
                        </a></div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-sm btn-success" style="width: 150px">구독하기</button>
                        <button class="btn btn-sm" style="width: 150px; background-color: #888888; display: none">구독완료
                        </button>
                        <a href="/post/write-form" class="my_atag_none">
                            <div class="my_icon_rounded_btn d-flex justify-content-center align-items-center"><i
                                    class="fa-solid fa-pencil"></i></div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>


</div>


{{>/layout/footer}}