{{>/layout/main-header}}

<style>
    .btn-outline-info {
        border: 1px solid #1EB49F;
        color: #1EB49F;
    }

    .btn-outline-info:hover {
        background-color: #1EB49F;
    }

    .replyUpdateBtn {
        background-color: #1EB49F;
    }

    .replyUpdateBtn:hover {
        background-color: #159f8c;
    }

</style>

<div class="container">
    <input id="postId" type="hidden" value="{{model.postId}}"/>
    <input id="pageOwnerId" type="hidden" value="1"/>
    <input id="my-loveId" type="hidden" value="1">


    <div class="my_post_detail_title">
        <h2>{{model.title}}</h2>
        <span>작성일 : {{model.createdAt}}</span>
    </div>
    <hr/>

    <div class="my_post_detail_content">
        {{{model.content}}}
    </div>

    <br><br>

    <div class="my_post_info_box d-flex">
        <div class="my_post_info">
            <i class="fa-solid fa-heart my_fake_like my_mr_sm_1" id="heart-1"></i>
            by <b>{{model.username}}</b> <span class="my_text_body_sm"></span>

            <!--            <i class="far fa-heart my_fake_un_like my_mr_sm_1" id="my-heart"></i>-->
            <!--            by <b>유저네임</b> <span class="my_text_body_sm">날짜</span>-->

        </div>
    </div>

    {{#model.isPostOwner}}
        <div class="my_mt_md_1">
            <a class="btn btn-outline-info" href="/s/post/update-form/{{model.postId}}">수정</a>
            <button id="btn-delete" class="btn btn-outline-danger">삭제</button>
        </div>
    {{/model.isPostOwner}}

    <br/>
    <hr>

    <!-- 댓글 -->
    <div class="card mt-3">
        <!-- 댓글등록 -->
        <div class="card-body">
            <!--            <form action="/reply/save" method="post">-->
            <input id="postId" type="hidden" name="postId" value="{{model.postId}}">
            <textarea id="comment" class="form-control" rows="2" name="comment"></textarea>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-info mt-1" onclick="replySave()">
                    댓글등록
                </button>
            </div>
            <!--            </form>-->
        </div>

        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>댓글리스트</b>
        </div>
        <div class="list-group">
            <div id="replyList"></div>
        </div>
        <!--       댓글 아이템  -->
    </div>

    <!--        댓글 페이징-->
    <br>

    <div style="display: flex; justify-content: center;">
        <button type="button" class="btn btn-outline-info mt-1 replyPageLoad">
            +
        </button>
    </div>

    <br><br>

    <script>

<!--        게시글 id는 전역변수-->
        const postId = $("#postId").val();
        console.log("postId 전역 = " + postId);

        <!--        댓글 작성 -->
        function replySave() {
            let comment = $("#comment").val();
            // console.log("commentSave " + comment);
            // let postId = $("#postId").val();
            // console.log("postId " + postId);

            let commentSave = {
                comment: comment,
                postId: postId
            };

            $.ajax({
                url: '/a/reply/save',
                data: JSON.stringify(commentSave),
                contentType: 'application/json; charset=utf-8',
                type: 'POST'

            }).done((res) => {
                console.log("res ddd = " + JSON.stringify(res));
                console.log("msg = " + res.status);

                if (res.status === 400) {
                    Swal.fire({
                        title: res.msg,
                        icon: "warning",
                        button: "확인"
                    });
                    return;
                }

                let reply = res.body;
                let replyItem = getReplyItem(reply);
                $("#replyList").prepend(replyItem);
                $("#comment").val('');
                replyLoad();

            }).fail((res) => {
                if (res.status === 401) {
                    const response = JSON.parse(res.responseText);

                    Swal.fire({
                        title: response.msg,
                        icon: "warning",
                        button: "확인"
                    });

                } else {
                    alert("에러");
                }

            });
        }

        // 댓글 작성 끝


        // 댓글 페이징
        let page = 0;
        let totalPages = 0;

        replyLoad();

        $(".replyPageLoad").on('click', function () {
            // alert("dddd");

            if (page < totalPages - 1) {    // 더 이상 페이지가 없을 때까지
                page++;
                replyLoad();
            } else {
                Swal.fire({
                    title: "더 이상 댓글이 없습니다.",
                    icon: "warning",
                    button: "확인"
                });
            }
        });


        // 페이징 함수 따로 빼기
        function replyLoad() {
            // alert("dd");
            // let postId = $("#postId").val(); // 현재 게시글의 ID 가져오기

            $.ajax({
                // postId를 쿼리스트링 형식으로 보내버리면 해당하는 게시글에 있는 댓글만 나오게 할 수 있음
                url: `/api/reply/list?postId=${postId}&page=${page}`,
                // 서버에서 보내준 데이터가 JSON 형식이라는 것을 알려줌
                dataType: 'json'

            }).done((res) => {
                console.log("성공", res);

                if (page === 0) {
                    $("#replyList").empty();
                }

                res.body.content.forEach((reply) => {
                    let replyItem = getReplyItem(reply);
                    $("#replyList").append(replyItem);
                });

                totalPages = res.body.totalPages;
                // console.log("totalPages " + totalPages);
                page = res.body.number;
                // console.log("page " + page);

            }).fail((res) => {
                console.log("실패", res);
            });
        }

        // 페이징 함수 따로 빼기


        // 댓글 리스트 csr으로 가져오기
        function getReplyItem(reply) {
            let isReplyOwner = reply.isReplyOwner; // 댓글 소유자 여부 확인
            let buttons = '';

            if (isReplyOwner) {
                buttons = `<div>
                    <button class="btn-sm btn-info replyUpdateBtn" id="reply-${reply.id}">수정</button>
                    <div class="d-inline-block">
                        <input id="postId" type="hidden" name="postId" value="${reply.postId}">
                        <input type="hidden" id="userId" name="userId" value="${reply.userId}">
                        <button class="btn replyDeleteBtn" data-reply-id="${reply.id}" onclick="replyDelete()">🗑</button>
                    </div>
                </div>`;
            }

            let item = `<div id="showReplyUpdateForm-${reply.id}" class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <div id="username-${reply.id}" data-username="${reply.username}" class="px-1 me-1 text-white rounded" style="margin-right: 10px; background-color: #1EB49F">
                                ${reply.username}
                            </div>
                            <div id="comment-${reply.id}">${reply.comment}</div>
                        </div>
                            ${buttons}
                        </div>`;

            return item;
        }

        // 댓글 리스트 csr으로 가져오기


        // 댓글 csr 삭제
        function replyDelete() {
            let replyId = $(".replyDeleteBtn").data('reply-id');
            console.log("replyId " + replyId);

            let userId = $("#userId").val();
            console.log("userId " + userId);

            let replyDelete = {
                userId: userId,
                postId: postId
            };

            $.ajax({
                url: '/a/reply/delete/' + replyId,
                data: JSON.stringify(replyDelete),
                contentType: 'application/json; charset=utf-8',
                type: 'POST'

            }).done((res) => {
                console.log("성공", res);
                $("#showReplyUpdateForm-" + replyId).remove();
                replyLoad();

            }).fail((res) => {
                if (res.responseJSON.status === 404) {
                    Swal.fire({
                        title: res.responseJSON.msg,
                        icon: "warning",
                        button: "확인"
                    });
                }
                console.log("실패", res);
            });
        }

        // 댓글 삭제


        <!-- 댓글 수정 뷰 띄우기 -->
        $(document).on('click', '.replyUpdateBtn', function () {
            let replyId = $(this).attr('id').replace('reply-', '');
            console.log("reply " + replyId);

            // 이전에 생성된 수정 폼 제거
            $(`#newShowReplyUpdateForm-${replyId}`).remove();

            let username = $("#username-" + replyId).data('username');
            console.log("username " + username);

            // let comment = $("#comment-" + replyId).data('reply');
            let comment = $("#comment-" + replyId).text();
            console.log("comment " + comment);

            // let postId = $("#postId").val();
            console.log("postId " + postId);

            let newElement = `<!--    댓글 수정 뷰 -->
                            <input id="userId" type="hidden" name="userId" value="{{model.userId}}">
                            <div id="newShowReplyUpdateForm-${replyId}" class="list-group-item justify-content-between align-items-center reply-wrapper">
                                <div class="d-flex">
                                    <div class="px-1 me-1 text-white rounded" style="margin-right: 10px; background-color: #1EB49F">
                                        ${username}
                                    </div>
                                    <textarea class="form-control" rows="3" name="comment" id="reply-comment-${replyId}"
                                         style="width: 100%; height: 80px;">${comment}</textarea>
                                </div>
                                <div class="d-flex justify-content-end" style="margin-top: 5px;">
                                    <button class="btn-sm btn-success replyUpdateCompleteBtn" data-reply-id="${replyId}">완료</button>
                                    <button class="btn-sm btn-danger replyUpdateCancelBtn" data-reply-id="${replyId}">취소</button>
                                </div>
                            </div>
                            <!--    댓글 수정 뷰 -->`;

            $("#showReplyUpdateForm-" + replyId).hide();
            $("#showReplyUpdateForm-" + replyId).after(newElement);

        });
        // 댓글 수정 뷰 띄우기 끝


        // reply update ajax 시작
        $(document).on("click", ".replyUpdateCompleteBtn", function () {
            let replyId = $(this).data('reply-id');
            console.log("리플리 아이디 " + replyId);

            // let postId = $("#postId").val();
            console.log("postId " + postId);

            let userId = $("#userId").val();
            console.log("userId " + userId);

            let updateComment = $("#reply-comment-" + replyId).val();
            console.log("updateComment " + updateComment);

            let replyUpdateData = {
                postId: postId,
                userId: userId,
                comment: updateComment
            };


            $.ajax({
                url: '/a/reply/update/' + replyId,
                data: JSON.stringify(replyUpdateData),
                contentType: 'application/json; charset=utf-8',
                type: 'POST'

            }).done((res) => {
                console.log("성공", res);

                if (res.status === 400) {
                    Swal.fire({
                        title: res.msg,
                        icon: "warning",
                        button: "확인"
                    });
                    return;
                }

                $("#newShowReplyUpdateForm-" + replyId).remove();
                let reply = res.body;
                let updateReplyItem = getReplyItem(reply);

                // 기존 댓글 아이템을 새로 생성된 댓글 아이템으로 교체
                $("#showReplyUpdateForm-" + replyId).replaceWith(updateReplyItem);

            }).fail((res) => {
                if (res.responseJSON.status === 404) {
                    Swal.fire({
                        title: res.responseJSON.msg,
                        icon: "warning",
                        button: "확인"
                    });
                }
                console.log("실패", res);
            });

            if (res.status === 401) {
                const response = JSON.parse(res.responseText);

                Swal.fire({
                    title: response.msg,
                    icon: "warning",
                    button: "확인"
                });

            } else {
                alert("에러");
            }

        });


        // 취소 버튼 클릭 시 수정 폼 숨기기
        // replyUpdateCancelBtn가 동적으로 생성되기 때문에 바로 click 쓰면 안되고 on 사용해야함
        $(document).on("click", ".replyUpdateCancelBtn", function () {
            let replyId = $(this).data('reply-id');
            console.log("리플리 아이디 " + replyId);

            $("#showReplyUpdateForm-" + replyId).show();
            $("#newShowReplyUpdateForm-" + replyId).remove();
        });


        // 게시글 삭제
        $("#btn-delete").click(function (e) {

            Swal.fire({
                title: '게시글을 삭제하시겠습니까?',
                icon: 'warning',

                showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
                confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
                cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
                confirmButtonText: '예', // confirm 버튼 텍스트 지정
                cancelButtonText: '아니요', // cancel 버튼 텍스트 지정

            }).then(result => {
                // 만약 Promise리턴을 받으면,
                if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
                    Swal.fire('게시글이 삭제되었습니다', '', 'success')
                            .then(() => {
                                $.ajax({
                                    type: "POST",
                                    url: "/s/post/delete/{{model.postId}}",

                                }).done((res) => {
                                    // alert("Ddd");
                                    window.location.href = "/post/list";

                                }).fail((res) => {
                                    alert("실패");
                                });

                            });
                }
            });
        });
        // 게시글 삭제


    </script>

{{>/layout/footer}}