{{>/layout/post-header}}

<style>
    .content-wrapper {
        width: 800px; /* 원하는 너비 설정 */
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 표시할 줄 수 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .displayNone {
        display: none;
    }

</style>

<div class="container">
    <div class="d-flex justify-content-end my_mb_sm_1">
        {{#sessionUser}}
            <input type="hidden" name="userId" value="{{model.userId}}">
        {{/sessionUser}}

        {{^model.isBlogOwner}}
            {{^model.isSubCheck}}
                <button class="btn-sm my_success_btn subscribe" style="width: 150px" onclick="subscribe()">
                    구독하기
                </button>
            {{/model.isSubCheck}}
            {{#model.isSubCheck}}
                <button class="btn-sm my_success_btn subscribeCancel"
                        style="width: 150px; background-color: #888888" onclick="subscribeCancel()">
                    구독완료
                </button>
            {{/model.isSubCheck}}
        {{/model.isBlogOwner}}

        {{#model.isBlogOwner}}
            <a href="/post/write-form" class="my_atag_none">
                <div class="my_icon_rounded_btn d-flex justify-content-center align-items-center"
                     style="background-color: #1EB49F;">
                    <i class="fa-solid fa-pencil" style="color:white;"></i></div>
            </a>
        {{/model.isBlogOwner}}
    </div>

    <div class="my_post_list">
        <!--        append 할 부분 -->
        <div id="postList"></div>

    </div>

</div>


<script>

    $(window).scroll(() => {
        // let checkScroll = $(window).scrollTop() - ($(document).height() - $(window).height());
        // console.log("checkScroll " + checkScroll);

        let documentHeight = $(document).height();
        let windowHeight = $(window).height();
        let scrollTop = $(window).scrollTop();

        let scrollPercentage = (scrollTop / (documentHeight - windowHeight)) * 100;
        console.log("scrollPercentage " + scrollPercentage);

        // 0일때 끝이다 -> 0과 가까운 값이다
        if (scrollPercentage >= 80) {
            page++;
            pageLoad();
        }

    });

    //    alert("ffff");
    //    console.log("ddddddddd");


    // 현재 URL에서 유저 아이디를 추출
    const pathname = window.location.pathname;
    const userIdMatch = pathname.match(/\/user\/(\d+)\/post/);
    const userId = userIdMatch ? userIdMatch[1] : null;


    function subscribe() {
        let subscribeSave = {
            subscribeId: userId
        }
        console.log(JSON.stringify(subscribeSave));

        $.ajax({
            url: '/sub/save',
            data: JSON.stringify(subscribeSave),
            contentType: 'application/json; charset=utf-8',
            type: 'POST'

        }).done((res) => {
            // alert("gg");
            // console.log("성공", res);
            Swal.fire({
                title: "구독 완료",
                icon: "success",
                button: "확인"

            }).then(() => {
                hiddenSubBtn();
                showCancelSubBtn();
                // window.location.href = "/user/" + userId + "/post";

            });

        }).fail((res) => {
            console.log("실패", res);

        });

    }


    function subscribeCancel() {
        let subscribeSave = {
            subscribeId: userId
        }
        console.log(JSON.stringify(subscribeSave));

        $.ajax({
            url: '/sub/cancel',
            data: JSON.stringify(subscribeSave),
            contentType: 'application/json; charset=utf-8',
            type: 'POST'

        }).done((res) => {
            // alert("gg");
            // console.log("성공", res);
            Swal.fire({
                title: "구독 취소 완료",
                icon: "success",
                button: "확인"

            }).then(() => {
                hiddenCancelSubBtn();
                showSubBtn();
                // window.location.href = "/user/" + userId + "/post";

            });

        }).fail((res) => {
            console.log("실패", res);

        });

    }

    function hiddenSubBtn() {
        $(".subscribe").addClass("displayNone");
    }

    function hiddenCancelSubBtn() {
        $(".subscribeCancel").addClass("displayNone");
    }

    function showSubBtn() {
        $(".subscribe").removeClass("displayNone");
    }

    function showCancelSubBtn() {
        $(".subscribeCancel").removeClass("displayNone");
    }


    //     AJAX로 게시글 로드하기
    let page = 0;

    function pageLoad() {
        // console.log("실행됨");
        // alert("Ddd");

        if (userId != null) {
            $.ajax({
                // 쿼리스트링 형식으로
                url: `/api/${userId}/post/list?page=${page}`,
                // url: `/api/post/list?page=${page}`,
                // 서버에서 보내준 데이터가 JSON 형식이라는 것을 알려줌
                dataType: 'json'

            }).done((res) => {
                console.log("성공", res);
                res.body.content.forEach((post) => {
                    let postItem = getPostItem(post);
                    $("#postList").append(postItem);
                });

            }).fail((res) => {
                console.log("실패", res);
            });
        } else {
            $.ajax({
                // 쿼리스트링 형식으로
                url: `/api/post/list?page=${page}`,
                // 서버에서 보내준 데이터가 JSON 형식이라는 것을 알려줌
                dataType: 'json'

            }).done((res) => {
                console.log("성공", res);
                res.body.content.forEach((post) => {
                    let postItem = getPostItem(post);
                    $("#postList").append(postItem);
                });

            }).fail((res) => {
                console.log("실패", res);
            });
        }


    }

    pageLoad();

    // append시 해당 디자인 추가
    function getPostItem(post) {
        let item = `<div class="my_post_list_item">
                <div class="my_post_list_item_left">
                    <img src="/upload/${post.thumbnailFile}" width="170" height="190">
                    <!--                <div class="my_fakeimg"> </div>-->
                </div>
                <div class="my_post_list_item_right my_ellipsis">
                    <div class="my_text_title my_ellipsis">
                        ${post.title}
                    </div>
                    <div class="my_text_body_sm">
                        ${post.createdAt}
                    </div>
                    <div class="content-wrapper">
                        ${post.content}
                    </div>
                    <div class="my_mt_md_1">
                        <a href="/post/detail/${post.postId}" class="my_success_btn">Read More</a>
                    </div>
                </div>
            </div>`

        // text-overflow에서 이미지 제외
        $(".content-wrapper").each(function () {
            let contentHtml = $(this).html();
            contentHtml = contentHtml.replace(/<img[^>]+>/g, '');
            contentHtml = contentHtml.replace(/<iframe[^>]+>/g, '');
            $(this).html(contentHtml);
        });
        // text-overflow에서 이미지 제외

        return item;

    }

    // append시 해당 디자인 추가


</script>


{{>/layout/footer}}