{{>/layout/main-header}}

<head>
    <link rel="stylesheet" href="/css/join-form.css">
</head>
<style>
    .btn-outline-info {
        border: 1px solid #1EB49F;
        color: #1EB49F;
    }
    .btn-outline-info:hover {
        background-color: #1EB49F;
    }
</style>

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title d-flex justify-content-center">
                <img src="/upload/newLogo.png" style="width: 250px; height: 100px">
            </div>
            <div class="my_error_box my_hidden">

            </div>
            <form id="joinForm">
                <input id="username" class="my_auth_form_box_input" type="text" name="username" placeholder="유저네임"
                       maxlength="20" value="" required/>
                <div id="usernameDuplicatedText" class="my_hidden" style="color: red">중복된 아이디입니다.</div>
                <div id="usernameNoDuplicatedText" class="my_hidden" style="color: green">사용 가능한 아이디입니다.</div>

                <input id="password" class="my_auth_form_box_input" type="password" name="password" placeholder="비밀번호"
                       maxlength="20" value="" required/>

                <input id="samePassword" class="my_auth_form_box_input" type="password" name="" placeholder="비밀번호 확인"
                       maxlength="20" value="" required/>
                <div id="errorTextBox" style="color: red">비밀번호가 일치하지 않습니다.</div>
                <div id="successTextBox" style="color: green">비밀번호가 일치합니다.</div>

                <div class="email-container">
                    <input class="my_auth_form_box_input" id="email" type="email" name="email" placeholder="이메일"
                           maxlength="60"
                           value="" required/>
                    <button class="btn btn-outline-info btn-sm" type="button" id="emailAuthButton">인증하기</button>
                </div>

                <button type="submit" id="joinBtn" class="my_secondary_btn">회원가입</button>
            </form>
            <div class="my_auth_form_box_link">
                <div><a href="/login-form">로그인</a></div>
<!--                <div><a href="/user/password-reset-form">비밀번호 찾기</a></div>-->
            </div>
        </div>
    </div>
    <br/>
</div>

<!-- 모달창 구조 -->
<div id="authModal" class="modal">
    <div class="modal-content">
        <p style="font-size: 30px">💌 발송 완료 💌</p>
        <input type="text" id="authCodeText" placeholder="인증번호를 입력해주세요"/>
        <div class="modal-buttons">
            <button id="cancelBtn">취소</button>
            <button id="confirmBtn">확인</button>
        </div>
    </div>
</div>


<script>

    // 모달창을 보이게 하는 함수
    function showModal() {
        $('#authCodeText').val('');
        $('#authModal').css('display', 'block');
    }

    // "인증하기" 버튼 클릭 시 이메일로 인증번호 보내기 모달창 보이기
    $('#emailAuthButton').on('click', function () {
        emailSendCode();
    });

    // 취소 버튼 클릭 시 모달창 닫기
    $('#cancelBtn').on('click', function () {
        $('#authModal').css('display', 'none');
        // 인증 코드 입력란 초기화
    });
    // 모달창 스크립트 끝

    <!-- 이메일 주소로 메일 보내기 -->
    // 전역 변수 선언
    let emailCode;

    function emailSendCode() {
        console.log($("#email").val());
        let email = encodeURIComponent($("#email").val());

        $.ajax({
            url: '/send-mail?email=' + email,
            type: 'GET'

        }).done((res) => {
            // console.log("Res " + JSON.stringify(res));
            emailCode = res.body;
            console.log("보낸 코드 " + emailCode);
            showModal();

        }).fail((res) => {
            alert("오류");
        });

    }

    // 메일 보내기 끝


    // 인증번호 확인 로직
    let isEmailConfirmed = false;

    $("#confirmBtn").click(function () {

        let checkEmailCode = $("#authCodeText").val();
        // console.log("입력 코드 " + checkCode);

        $.ajax({
            url: '/check-email-code?emailCode=' + checkEmailCode,
            type: 'GET'

        }).done((res)=>{
            if (res.body) {
                Swal.fire({
                    title: "인증이 완료되었습니다.",
                    icon: "success",
                    button: "확인"
                });
                $('#authModal').css('display', 'none');
                isEmailConfirmed = true;

            } else {
                Swal.fire({
                    title: "인증번호를 확인해주세요",
                    icon: "warning",
                    button: "확인"
                });
                $('#authModal').css('display', 'block');
            }

        }).fail((res) => {
            alert("오류");
        });

    });

    // 인증번호 확인 로직 끝


    <!--username 중복 체크 -->
    // keyup - debounce (한번에 모았다가 일정 시간이 지나면 보낸다)
    $("#username").on("keyup", _.debounce(function () {
        console.log($(this).val());
        let username = $(this).val();

        $.ajax({
            url: '/username-check?username=' + username,
            type: 'GET'

        }).done((res) => {
            // console.log("Res " + JSON.stringify(res));

            if (res.body === "USER_EXIST") {
                showUsernameDuplicatedText();
                hideUsernameSuccessText();
            }

            if (res.body === "USER_NO_EXIST") {
                hideUsernameDuplicatedText();
                showUsernameSuccessText();
            }

            if ((username) === "") {
                hideUsernameSuccessText();
                hideUsernameDuplicatedText();
            }

        }).fail((res) => {
            alert("오류");
        });

    }, 300));

    // username 중복 체크 끝


    <!--    비밀번호 동일 체크 -->
    hideErrorTextBox();
    hideSuccessTextBox();

    $("#samePassword").on("input", function () {
        let password = $("#password").val();
        // console.log("패스워드 = " + password);

        let confirmPassword = $("#samePassword").val();
        // console.log("확인용 = " + confirmPassword);

        if (password === confirmPassword) {
            showSuccessTextBox();
            hideErrorTextBox();
            $("#joinBtn").css("background-color", "green");

            // 값을 다 지웠으면 다시 둘 다 my_hidden 넣어줘야함
        } else if (confirmPassword === "") {
            hideErrorTextBox();
            hideSuccessTextBox();
            $("#joinBtn").css("background-color", "");

        } else {
            showErrorTextBox();
            hideSuccessTextBox();
            $("#joinBtn").css("background-color", "");
        }
    });
    // 비밀번호 동일체크 끝



//이메일을 다른걸로 바꾸면 isEmailConfirmed 값을 다시 false로 바꿔줘야할 것 같음
    $("#email").on("input", function () {
        isEmailConfirmed = false;
        // console.log("isEmailConfirmed " + isEmailConfirmed);
    });


    // 이메일 인증 안되면 막기 + 비번이 다르면 form 제출 못하게 막아놓음
    $("#joinForm").on("submit", function (e) {
        //폼 막기
        e.preventDefault();

        // console.log("1");

        //패스워드 유효성 검사
        if (!passwordValid()) {
            return;
        }

        // 폼 데이터를 배열로 변환
        let serializedDataArray = $("#joinForm").serializeArray();
        serializedDataArray.push({ name: 'isEmailConfirmed', value: isEmailConfirmed });

        // URL-encoded 문자열로 변환
        let serializedData = $.param(serializedDataArray);

        console.log("3");

        $.ajax({
            url: "/join",
            data: serializedData,
            contentType: "application/x-www-form-urlencoded",
            processData: true,
            type: 'POST'

        }).done((res)=>{
            console.log("4");

            Swal.fire({
                title: "회원가입이 완료되었습니다.",
                icon: "success",
                button: "확인"
            });

            window.location.href = "/";

        }).fail((res)=>{
            console.log("5");

            Swal.fire({
                title: res.responseJSON.msg,
                icon: "warning",
                button: "확인"
            });
        });

    });
    // 이메일 인증 안되면 막기 + 비번이 다르면 form 제출 못하게 막아놓음 끝


    // 유저 네임 중복체크
    function hideUsernameDuplicatedText() {
        $("#usernameDuplicatedText").addClass("my_hidden");
    }

    function hideUsernameSuccessText() {
        $("#usernameNoDuplicatedText").addClass("my_hidden");
    }

    function showUsernameSuccessText() {
        $("#usernameNoDuplicatedText").removeClass("my_hidden");
    }

    function showUsernameDuplicatedText() {
        $("#usernameDuplicatedText").removeClass("my_hidden");
    }
//     유저네임 중복체크 끝


    // 비밀번호 동일 체크
    function hideErrorTextBox() {
        $("#errorTextBox").addClass("my_hidden");
    }

    function hideSuccessTextBox() {
        $("#successTextBox").addClass("my_hidden");
    }

    function showErrorTextBox() {
        $("#errorTextBox").removeClass("my_hidden");
    }

    function showSuccessTextBox() {
        $("#successTextBox").removeClass("my_hidden");
    }
//     비밀번호 동일 체크 끝

    // 패스워드 유효성 검사
    function passwordValid() {
        let password = $("#password").val();
        // console.log("패스워드 = " + password);

        let confirmPassword = $("#samePassword").val();
        // console.log("확인용 = " + confirmPassword);

        if (password !== confirmPassword) {
            Swal.fire({
                title: "비밀번호를 확인해주세요",
                icon: "warning",
                button: "확인"
            });

            return false;

        } else if (confirmPassword === "") {
            Swal.fire({
                title: "비밀번호를 확인해주세요",
                icon: "warning",
                button: "확인"
            });

            return false;
        }

        return true;
    }
    // 패스워드 유효성검사 끝

</script>


{{>/layout/footer}}