{{>/layout/main-header}}

<style>
    .email-container {
        position: relative;
    }

    .email-container .btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    /* 모달창 스타일 */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        text-align: center;
        border-radius: 10px;
    }

    .modal-content p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .modal-content input {
        font-size: 30px;
        text-align: center;
        width: 80%;
        margin: 20px auto; /* 중앙 정렬을 위한 속성 */
        padding: 10px;
        display: block; /* 중앙 정렬을 위한 속성 */
    }

    .modal-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .modal-buttons button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #cancelBtn {
        background-color: #f0f0f0;
    }

    #confirmBtn {
        background-color: #4CAF50;
        color: white;
    }


</style>

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title">JSotry</div>
            <div class="my_error_box my_hidden">

            </div>
            <form action="/join" method="post" id="joinForm">
                <input id="username" class="my_auth_form_box_input" type="text" name="username" placeholder="유저네임"
                       maxlength="20" value="ssar1" required/>
                <div id="usernameExist" class="my_hidden" style="color: red">중복된 아이디입니다.</div>
                <div id="usernameNoExist" class="my_hidden" style="color: green">사용 가능한 아이디입니다.</div>

                <input id="password" class="my_auth_form_box_input" type="password" name="password" placeholder="비밀번호"
                       maxlength="20" value="1234" required/>

                <input id="same-password" class="my_auth_form_box_input" type="password" name="" placeholder="비밀번호 확인"
                       maxlength="20" value="1234" required/>
                <div id="nameCheckFalse" style="color: red">비밀번호가 일치하지 않습니다.</div>
                <div id="nameCheckTrue" style="color: green">비밀번호가 일치합니다.</div>

                <div class="email-container">
                    <input class="my_auth_form_box_input" id="email" type="email" name="email" placeholder="이메일" maxlength="60"
                           value="ssar1@nate.com" required/>
                    <button class="btn btn-outline-success btn-sm" type="submit" id="emailAuthButton" onclick="emailCheck()">인증하기</button>
                </div>

                <button type="submit" id="joinBtn" class="my_secondary_btn">회원가입</button>
            </form>
            <div class="my_auth_form_box_link">
                <div><a href="/login-form">로그인</a></div>
                <div><a href="/user/password-reset-form">비밀번호 찾기</a></div>
            </div>
        </div>
    </div>
    <br/>
</div>

<!-- 모달창 구조 -->
<div id="authModal" class="modal">
    <div class="modal-content">
        <p style="font-size: 30px">💌</p>
        <input type="text" id="authCode" value="11455" placeholder="인증번호를 입력해주세요" />
        <div class="modal-buttons">
            <button id="cancelBtn">취소</button>
            <button id="confirmBtn">확인</button>
        </div>
    </div>
</div>



<script>
    // 모달창을 보이게 하는 함수
    function showModal() {
        $('#authModal').css('display', 'block');
    }

    // "인증하기" 버튼 클릭 시 모달창 보이기
    $('#emailAuthButton').on('click', function() {
        emailCheck();
        showModal();
    });

    // 확인 버튼 클릭 시 모달창 닫기
    $('#confirmBtn').on('click', function() {
        $('#authModal').css('display', 'none');
    });

    // 취소 버튼 클릭 시 모달창 닫기
    $('#cancelBtn').on('click', function() {
        $('#authModal').css('display', 'none');
    });

    <!-- 이메일 주소 보내기 -->
    function emailCheck () {
        console.log($("#email").val());
        let email = encodeURIComponent($("#email").val());

        $.ajax({
            url: '/sendmail',
            data: {email: email},
            type: 'GET'

        }).done((res) => {
            console.log("Res " + JSON.stringify(res));

        }).fail((res) => {
            alert("오류");
        });

    }


    <!--username 중복 체크 -->
    $("#username").on("keyup", _.debounce(function () {
        console.log($(this).val());
        let username = $(this).val();

        $.ajax({
            url: '/username-check',
            data: {username: username},
            type: 'GET'

        }).done((res) => {
            console.log("Res " + JSON.stringify(res));

            if (res.body === "USER_EXIST") {
                $("#usernameExist").removeClass("my_hidden");
                $("#usernameNoExist").addClass("my_hidden")
            }

            if (res.body === "USER_NO_EXIST") {
                $("#usernameExist").addClass("my_hidden");
                $("#usernameNoExist").removeClass("my_hidden");
            }

            if ((username) === "") {
                $("#usernameNoExist").addClass("my_hidden");
                $("#usernameExist").addClass("my_hidden");
            }

        }).fail((res) => {
            alert("오류");
        });

    }, 500));

    // username 중복 체크 끝


    <!--    비밀번호 동일 체크 -->
    $("#nameCheckFalse").addClass("my_hidden");
    $("#nameCheckTrue").addClass("my_hidden");

    $("#same-password").on("input", function () {
        let password = $("#password").val();
        // console.log("패스워드 = " + password);

        let confirmPassword = $("#same-password").val();
        // console.log("확인용 = " + confirmPassword);

        if (password === confirmPassword) {
            $("#nameCheckTrue").removeClass("my_hidden");
            $("#nameCheckFalse").addClass("my_hidden");
            $("#joinBtn").css("background-color", "green");

            // 값을 다 지웠으면 다시 둘 다 my_hidden 넣어줘야함
        } else if (confirmPassword === "") {
            $("#nameCheckFalse").addClass("my_hidden");
            $("#nameCheckTrue").addClass("my_hidden");
            $("#joinBtn").css("background-color", "");

        } else {
            $("#nameCheckFalse").removeClass("my_hidden");
            $("#nameCheckTrue").addClass("my_hidden");
            $("#joinBtn").css("background-color", "");
        }
    });
    // 비밀번호 동일체크 끝


    // 비번이 다르면 form 제출 못하게 막아놓음
    $("#joinForm").on("submit", function (e) {
        let password = $("#password").val();
        // console.log("패스워드 = " + password);

        let confirmPassword = $("#same-password").val();
        // console.log("확인용 = " + confirmPassword);

        if (password !== confirmPassword) {
            e.preventDefault();

            swal({
                text: "비밀번호를 확인해주세요",
                icon: "warning",
                button: "확인"
            });

        } else if (confirmPassword === "") {
            e.preventDefault();

            swal({
                text: "비밀번호를 확인해주세요",
                icon: "warning",
                button: "확인"
            });
        }
    });
    // 비번이 다르면 form 제출 못하게 막아놓음

</script>


{{>/layout/footer}}