.my_footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-top: 1px solid rgb(185, 185, 185);
}

.my_footer_right_menu {
    display: flex;
    justify-content: space-around;
}

.my_footer_right_menu_item {
    margin-left: 30px;
}

.my_footer_right_menu_item > div {
    margin-bottom: 5px;
}

/*푸터 바닥에 고정*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
}

.my_footer {
    margin-top: auto;
}
/*푸터 바닥에 고정*/