{{>/layout/main-header}}

<style>
    .content-wrapper {
        width: 240px; /* 원하는 너비 설정 */
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 표시할 줄 수 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>

<div class="container">
    <div class="row">
        {{#model}}
            <div class="col-md-3 my-3">
                <div class="card">
                    <a href="/post/detail/{{postId}}" class="my_atag_none">
                        <img src="/upload/{{thumbnailFile}}" class="card-img-top" style="width: 250px; height: 170px">
                        <div class="card-body content-wrapper">
                            <h5 class="card-title" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                <b>{{title}}</b>
                            </h5>
                            <p class="card-text my_main_item_summary my_mb_sm_1 my_text_two_line">
                                {{{content}}}
                            </p>
                            <p class="card-text my_main_item_date my_mb_sm_1" style="color: #888888; margin-top: 10px">
                                {{createdAt}}
                            </p>
                        </div>
                    </a>
                    <a href="/user/{{userId}}/post" class="my_atag_none">
                        <div class="card-footer">
                            <span>by </span>
                            <b>{{username}}</b>
                        </div>
                    </a>
                </div>
            </div>
        {{/model}}
    </div>
</div>

<script>
    // text-overflow에서 이미지 제외
    $(".content-wrapper").each(function () {
        let contentHtml = $(this).html();
        contentHtml = contentHtml.replace(/<img[^>]+>/g, '');
        contentHtml = contentHtml.replace(/<iframe[^>]+>/g, '');
        $(this).html(contentHtml);
    });
    // text-overflow에서 이미지 제외
</script>


{{>/layout/footer}}
